<ul>
  <li><i class="fa fa-child" aria-hidden="true"></i>450k</li>
  <li><i class="fa fa-child" aria-hidden="true"></i>200k</li>
  <li><i class="fa fa-child" aria-hidden="true"></i>100k</li>
  <li><i class="fa fa-child" aria-hidden="true"></i>231k</li>
  <li><i class="fa fa-child" aria-hidden="true"></i>102k</li>
  <li><i class="fa fa-child" aria-hidden="true"></i>100k</li>
</ul>
