<ul class="hud_castle">
  <li id="heroes">
    <img src="img/barracks-tent.png" alt="">
    <p>Heroes</p>
  </li>
  <li id="alliance">
    <img src="img/spiral-hilt.png" alt="">
    <p>Alliance</p>
  </li>
  <li id="rank" class="tt">
    <img src="img/laurel-crown.png" alt="">
    <p>Rank</p>
  </li>
  <li id="map" class="to">
    <img src="img/treasure-map.png" alt="">
    <p>Map</p>
  </li>
</ul>
