<div id="hud_modal" class="comfirm">
  <div class="modal_head">
    <p>Modal Title</p>
  </div>
  <div class="modal_body">
    <p>You are going to consume these resources when upgrading this building. Are you sure?</p>
    <ul>
      <li><i class="fa fa-child" aria-hidden="true"></i>450k</li>
      <li><i class="fa fa-child" aria-hidden="true"></i>300k</li>
    </ul>
  </div>
  <div class="modal_foot">
    <div class="cancel">Nah, I'm not sure..</div>
    <div class="comfirm">YAS pls.</div>
  </div>
</div>
<!-- HUD MODAL FOR RANK -->
<div id="hud_modal_rank">
  <div class="hud_mr_head">
    <div class="hud_mr_close"><i class="fa fa-close" aria-hidden="true"></i></div>
    <div class="hud_mr_title">
      <p>Rank List</p>
    </div>
    <ul class="hud_mr_division">
      <li class="active">Players</li>
      <li>Alliance</li>
    </ul>
  </div>
  <div class="hud_mr_body">
    <ul>
      <li>
        <img src="img/profile.jpg" alt="">
        <p>KingLancelot <span class="rank_alliance">N3RV Alliance</span></p>
        <div class="hud_mr_r">
          <p>Rank</p>
          <p class="first">1</p>
        </div>
      </li>
      <li>
        <img src="img/profile.jpg" alt="">
        <p>KingCosmic <span class="rank_alliance">N3RV Alliance</span></p>
        <div class="hud_mr_r">
          <p>Rank</p>
          <p class="second">2</p>
        </div>
      </li>
      <li>
        <img src="img/profile.jpg" alt="">
        <p>PlayOffBeard <span class="rank_alliance">SEMC</span></p>
        <div class="hud_mr_r">
          <p>Rank</p>
          <p class="third">3</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- HUD MODAL OVERLAY -->
<div id="overlay">
  <img src="img/modal_bg.jpg" alt="">
</div>
