<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="stylesheets/style.css" rel="stylesheet">

  </head>
  <body>
    <div id="castlemenu">
  		<a id="name"><%= owner %></a> | <%= silver %><a id="silver"></a><br>
  		<div id="buildings" style="overflow-y: scroll;">
  			<a id="castle" class="buildings"><%= buildings.castle.info %> <%= buildings.castle.lvl %></a>
  			<a id="lumberyard" class="buildings"></a>
  			<a id="quarry" class="buildings"></a>
  			<a id="ironmine" class="buildings"></a>
  			<a id="farm" class="buildings"></a>
  			<a id="warehouse" class="buildings"></a>
  			<a id="barracks" class="buildings"></a>
  			<a id="archrange" class="buildings"></a>
  			<a id="siegeworkshop" class="buildings"></a>
  			<a id="horsestables" class="buildings"></a>
  			<a id="market" class="buildings"></a>
  			<a id="wall" class="buildings"></a>
  			<a id="hospital" class="buildings"></a>
  		</div>
  	</div>
  </body>
</html>
